<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .IsHome }}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}
      {{ partial "head/css.html" }}
      {{ partial "head/seo.html" . }}
      {{ partial "head/favicons.html" . }}
  </head>

  {{ $body_class := printf "%s__%s" .Type .Kind }}
  {{ $pageClass := partial "GetBodyClass" . }}
  {{ $body_class = printf "%s %s" $body_class $pageClass }}
  
  <body class="{{ $body_class }}">
    {{- partial "header/accessibility-menu.html" -}}
    {{- partial "header/header.html" . -}}
    <main id="main" tabindex="-1">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer/footer.html" . -}}
    {{- partial "footer/js.html" . -}}

    {{ if .IsHome }}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {{ end }}
  </body>
</html>