.posts-list
    display: grid
    grid-template-columns: repeat(auto-fill, $post-width)
    grid-auto-rows: 10px
    justify-content: center
    .post
        align-items: center
        border: 10px solid $body-color
        display: flex
        justify-content: center
        overflow: hidden
        padding: 0
        position: relative
        width: $post-width
        img
            height: 100%
        &.small
            aspect-ratio: 1
            grid-row-end: span $post-small
            img
                object-fit: cover
                width: 100%
        &.medium
            grid-row-end: span $post-medium

        &.large
            grid-row-end: span $post-large
        .content
            align-items: center
            background: transparentize(black, .5)
            background-blend-mode: darken
            backdrop-filter: blur(1px)
            bottom: 0
            display: flex
            justify-content: center
            left: 0
            padding: px2rem(20)
            position: absolute
            opacity: 0
            top: 0
            right: 0
            text-align: center
            transform: scale(1.1)
            a
                @include stretched-link
                color: white
        &:hover .content
            opacity: 1
            transform: scale(1)
            transition: .3s ease
